@model signalr_core_demo.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    @Html.LabelFor(x => x.LoginDTO.emailAddress)
    <br>
    @Html.TextBoxFor(x => x.LoginDTO.emailAddress)
    <br>
    @Html.LabelFor(x => x.LoginDTO.password)
    <br>
    @Html.TextBoxFor(x => x.LoginDTO.password)
    <br>
    <input type="submit" value="Submit" />
}

@if (Model != null)
{
    <p>List of possible users to login as (password don't matter):</p>
    <ul>
        @foreach (signalr_core_demo.Entities.UserEntity user in Model.UserEntityList)
        {
            <li>@Html.DisplayFor(x => user.EmailAddress)</li>
        }
    </ul>
}
<script asp-src-include="~/js/login.*.js"></script>