@model signalr_core_demo.ViewModels.ChatViewModel
@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" asp-href-include="~/css/chat.*.css" />

@*<form>
        @Html.LabelFor(x => x.Message.Content)
        <br>
        @Html.TextAreaFor(x => x.Message.Content)
        <br>
        <input type="button" value="Submit" />
    </form>


   


    <ul id="usersOnline"></ul>*@





<div class="container bootstrap snippets bootdeys">
    <div class="row" id="user-profile">
       

        <div class="col-sm-12">
            <div class="main-box clearfix">
                <div class="profile-header">
                    <h3><span>User info</span></h3>
                    <a href="#" class="btn btn-primary edit-profile">
                        <i class="fa fa-pencil-square fa-lg"></i> Edit profile
                    </a>
                </div>

                <div class="row profile-user-info">

                    <div class="col-sm-4">
                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="profile-img img-responsive center-block">
                    </div>

                    <div class="col-sm-4">
                        <div class="profile-user-details clearfix">
                            <div class="profile-user-details-label">
                                First Name
                            </div>
                            <div class="profile-user-details-value">
                                @Html.DisplayFor(x => x.CurrentUser.FirstName) 
                            </div>
                        </div>
                        <div class="profile-user-details clearfix">
                            <div class="profile-user-details-label">
                                Last Name
                            </div>
                            <div class="profile-user-details-value">
                                @Html.DisplayFor(x => x.CurrentUser.LastName)
                            </div>
                        </div>
                        <div class="profile-user-details clearfix">
                            <div class="profile-user-details-label">
                                Email
                            </div>
                            <div class="profile-user-details-value">
                                @Html.DisplayFor(x => x.CurrentUser.EmailAddress)
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 profile-social">
                        <ul class="fa-ul">
                            <li><i class="fa-li fa fa-twitter-square"></i><a href="#">scjohansson</a></li>
                            <li><i class="fa-li fa fa-linkedin-square"></i><a href="#">John Doe </a></li>
                            <li><i class="fa-li fa fa-facebook-square"></i><a href="#">John Doe </a></li>
                            <li><i class="fa-li fa fa-skype"></i><a href="#">Black_widow</a></li>
                            <li><i class="fa-li fa fa-instagram"></i><a href="#">Avenger_Scarlett</a></li>
                        </ul>
                    </div>
                </div>

                <div class="tabs-wrapper profile-tabs">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-notifications" data-toggle="tab">Notifications</a></li>
                        <li><a href="#tab-users" data-toggle="tab">Users</a></li>
                        <li><a href="#tab-chat" data-toggle="tab">Chat</a></li>
                    </ul>

                    <div class="tab-content">

                        <div class="tab-pane fade in active" id="tab-notifications">
                            @await Html.PartialAsync("~/Views/Home/_Notifications.cshtml")
                        </div>

                        <div class="tab-pane fade" id="tab-users">
                            @await Html.PartialAsync("~/Views/Home/_Users.cshtml",Model.UserList)
                        </div>

                        <div class="tab-pane fade" id="tab-chat">
                            @await Html.PartialAsync("~/Views/Home/_Chat.cshtml")
                        </div>

                    </div>

                </div>



            </div>
        </div>
    </div>
</div>

<script asp-src-include="~/js/chat.*.js"></script>